.form-container {
  display: flex;
  align-items: center;
  background: var(--card-bg);
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  font-size: 1.6rem;
  padding: 1.3rem 1.6rem;
  margin-top: -4rem;
}

/* Search input */
.form-label {
  position: relative;
  flex: 1;
}

.form-input {
  width: 100%;
  padding: 1rem 1rem 1rem 3.6rem; /* ikonaga joy */
  border: none;
  outline: none;
  font-size: 1.4rem;
  background-color: var(--card-bg);
  color: var(--text-color);
}

.icon-search {
  position: absolute;
  top: 50%;
  left: 1.2rem;
  transform: translateY(-50%);
  width: 1.6rem;
  height: 1.6rem;
  pointer-events: none;
}

/* Location select */
.location-label {
  position: relative;
  flex: 1;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
}

.location-label select {
  width: 100%;
  padding: 1rem 1rem 1rem 3.6rem; /* ikonaga joy qoldiramiz */
  border: none;
  outline: none;
  font-size: 1.6rem;
  color: #757575;
  appearance: none;
  background: transparent;
  font-family: inherit;
}

.icon-location {
  position: absolute;
  top: 50%;
  left: 1.2rem;
  transform: translateY(-50%);
  pointer-events: none;
}

/* Checkbox */
.form-container input[type="checkbox"] {
  margin: 0 0.5rem 0 1rem;
  width: 1.6rem;
  height: 1.6rem;
}
.checkbox-title {
  font-size: 1.6rem;
  font-weight: 700;
  color: var(--text-color);
}
.search-btn {
  margin-left: 1rem;
}

.filter-icon,
.search-btn-mobile {
  display: none;
}

.form-input-mobile {
  display: none;
  background-color: var(--card-bg);
}
@media (max-width: 600px) {
  .location-label {
    display: none;
  }
  .checkbox-title {
    display: none;
  }
  .checkbox-input {
    display: none;
  }
  .search-btn {
    display: none;
  }
  .search-btn-mobile {
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 5px;
    background: var(--color-violet);
    cursor: pointer;
  }
  .search-btn:hover {
    background: var(--color-light-violet);
  }
  .form-input {
    padding: 1rem;
  }
  .icon-search {
    display: none;
  }
  .filter-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 2.4rem;
    cursor: pointer;
  }
  .form-input {
    /* display: none; */
  }
  .form-input-mobile {
    display: flex;
    padding: 1rem;
    width: 100%;
    border: none;
    outline: none;
    font-size: 1.4rem;
  }
}
